.orders-container {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

.order {
  background-color: #e91e6242;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(233, 30, 99, 0.3);
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #610f2a;
}

.product img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
}

.product-info p {
  margin: 2px 0;
}

.subtotal {
    font-weight: bold;
}

.total {
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

.date {
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

.Delete-button[mat-raised-button] {
  background-color: #c01010;
  color: white;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Home-button[mat-raised-button] {

  background-color: #E91E63;
  color: white;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.Back-button[mat-raised-button] {

  background-color: #b63b64;
  color: white;
  margin-bottom: 20px;
  display: block;
  text-align: left;
  margin-left: 30px;

}



