.product-list-container {
  padding: 20px;
  background-color: #FFF0F5;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #E91E63;
  text-align: center;
  margin-bottom: 20px;
}

button[mat-raised-button] {
  background-color: #E91E63;
  color: white;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.product-card {
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(233, 30, 99, 0.2);
}
